.levels {
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
}

$level-background: #14131e;

.level {
  background-color: $level-background;
  height: 64px;
  margin-bottom: 20px;
  display: flex;
  padding: 16px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    background-color: lighten($level-background, 20%);
    cursor: pointer;
  }
}
