.content {
  margin: 50px;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;

  code {
    font-size: smaller;
    border-radius: 5px;
    background: #393552;
    padding: 2px 5px;
  }

  a {
    color: #dcdcdc;
  }
}
