$wallet-button-background: #14131e;

.menu {
  background-color: #0e0d14;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100vh;
  border-right: solid 1px #262439;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  background-color: #0e0d14;
  border-bottom: solid #262439 1px;
  box-sizing: border-box;
}

.wallet_button {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  background-color: $wallet-button-background;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #dcdcdc;
  font-family: 'Apercu Medium Regular';
  font-size: 15px;
  outline: none;

  &:hover {
    background-color: lighten($wallet-button-background, 20%);
    cursor: pointer;
  }
}
