@font-face {
  font-family: "Apercu Medium Regular";
  src: url("../assets/fonts/ApercuMedium/ApercuMedium.woff") format("woff"),
    url("../assets/fonts/ApercuMedium/ApercuMedium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/ApercuMedium/ApercuMedium.woff2") format("woff2"),
    url("../assets/fonts/ApercuMedium/ApercuMedium.ttf") format("truetype");
}
html {
  height: 100%;
  color: #fafafa;
  font-family: "Apercu Medium Regular";
}
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
