@font-face {
  font-family: 'Apercu Medium Regular';
  src: url('../assets/fonts/ApercuMedium/ApercuMedium.woff') format('woff'),
    url('../assets/fonts/ApercuMedium/ApercuMedium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ApercuMedium/ApercuMedium.woff2') format('woff2'),
    url('../assets/fonts/ApercuMedium/ApercuMedium.ttf') format('truetype');
}
html {
  min-height: 100vh;
  color: #dcdcdc;
  font-family: 'Apercu Medium Regular';
}
body {
  min-height: 100vh;
  margin: 0;
}

#root {
  display: inline-block;
  min-width: 100%;
  min-height: 100vh;
}
