$tab-background-color: #0e0d14;

.tabs {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: $tab-background-color;
  height: 75px;
  box-sizing: border-box;
  border-bottom: solid #262439 1px;
}

.tab {
  text-align: center;
  width: 250px;
  padding: 0 45px;
  height: 100%;
  line-height: 75px;
  box-sizing: border-box;

  &:hover {
    background-color: lighten($tab-background-color, 20%);
    cursor: pointer;
  }

  &.active {
    background-color: lighten($tab-background-color, 20%);
    border-bottom: 8px solid #3a3b74;
  }
}
